@charset "UTF-8";
.fl {
  float: left;
}

.enlarge {
  margin: 0 auto;
  width: 402px;
}

.middle {
  width: 400px;
  height: 400px;
  border: 1px solid #000;
  position: relative;
}

.middle .mask {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.middle > img {
  width: 400px;
  height: 400px;
}

.middle .big {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 105%;
  border: 1px solid #000;
  top: 0;
  overflow: hidden;
  display: none;
}

/* 中盒子/遮罩 = 大图/大盒子 */
.middle .big > img {
  width: 1600px;
  height: 1600px;
  position: absolute;
  left: 0;
  top: 0;
}

.small img {
  width: 50px;
  height: 50px;
  border: 3px solid #00f;
  margin: 20px;
}

.small img.active {
  border-color: red;
}
