@charset "utf-8";
/* 清除浏览器的默认间距 */
*{
    margin: 0;padding: 0;
}
b,strong{
    font-weight: normal;
}
i,em,u{
    font-style: normal;
}
a,u{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}