.jdnav{
    width: 1190px;
    margin: 0 auto;
}

.customNav{
    list-style: none;
    padding: 0;
    li{
        float: left;
        line-height: 50px;
        margin: 0 10px;
    }

}


// 轮播图
*{
    list-style: none;
    padding: 0;
    margin: 0;
}
.carousel{
    width: 100%;
    height: 500px;
    border:1px solid #000;
    position: relative;
    margin:auto;
}
.carousel ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
}
.carousel ul li{
    display: none;
}
.carousel ul li a img{
    width: 100%;
    height: 500px;
}
.carousel ul li.active{
    display: block;
}
.carousel ol{
    width: 60px;
    height: 20px;
    background-color: rgba(255,255,255,.6);
    position: absolute;
    left: 50%;
    margin-left:-30px;
    bottom:10px;
    border-radius:10px;
}
.carousel ol li{
    width: 10px;
    height: 10px;
    background-color: #000;
    float:left;
    margin:5px;
    border-radius:50%;
}
.carousel ol li.active{
    background-color: #f00;
}
.carousel>a{
    position:absolute;
    width: 20px;
    height: 40px;
    background-color: rgba(0,0,0,.7);
    color:#fff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    top:50%;
    margin-top:-20px;
    text-decoration: none;
}
.carousel>a.leftBtn{
    left: 0;
}
.carousel>a.rightBtn{
    right: 0;
}
// End 轮播图

// Start 楼层
.floor{
    small{
        margin-left: 15px;
    }
}

// End 楼层
.goTop{
    position: fixed;
    background-color: #E6EAED;
    right: 20px;
    bottom: 100px;
    >li{
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        border: 1px solid #abcdef;
    }
    >li:last-child{
        line-height: 20px;
    }
}