

#header{
    width: 100%;
    height: 80px;
    // background-color: #ffb3a7;
    .header-con{
        width: 990px;
        height: 80px;
        // background-color: #44cef6;
        margin: 0 auto;

        .logo{
            // position: relative;
            // float: left;
            width: 990px;
            height: 80px;
            // margin: 10px 0px;
            // background: #425066;
            .logo-left{
                position: relative;
                width: 295px;
                // width: 270px;
                height: 60px;
                margin: 10px 0;
                float: left;
                // background: #8d4bbb;
                a{
                    // width: 170px;
                    // height: 60px;
                    // background-color: rgb(96, 121, 112);
                    // display: block;
                    img{
                        // width: 170px;
                        // height: 60px;
                        // vertical-align: middle;
                    }
                }
                b{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    display: block;
                    width: 110px;
                    height: 40px;
                    border-color: #f97d1c;
                    background: url(https://misc.360buyimg.com/user/passport/1.0.0/css/i/l-icon.png) no-repeat;
                }
            }



        }
        .rightA{
            float: right;
            color: #666;
            font-size: 12px;
            position: relative;
            
            top: 48px;
            b{
                width: 18px;
                height: 14px;
                vertical-align: middle;
                display: inline-block;
                background: url(https://misc.360buyimg.com/user/passport/1.0.0/css/i/q-icon.png);
            }
        }

    }
    .bottom{
        height: 40px;
        width: 100%;
        background: #FFF8F0;
        .bottom-con{
            margin: 0 auto;
            width: 990px;
            height: 40px;
            // background: #003371;
            i{
                background: url(//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2018-0827/i/icon-tips.png);
            }
            p{
                color: #9B9B9B;
                font-size: 12px;
                text-align: center;
                line-height: 40px;
            }
        }
    }
    .banner{
        width: 100%;
        height: 475px;
        // background: #ed5a65;
        background-color: #00379E;
        .banner-con{
            margin: 0 auto;
            width: 990px;
            height: 475px;
            background: url(https://img1.360buyimg.com/pop/jfs/t1/190087/35/5747/97737/60b44bd5E31e479dc/ed78f177a9990034.jpg) ;
            
            .loginBox{
                width: 346px;
                height: 400px;
                margin-top: 10px;
                float: right;
                background: #FFFFFF;
                
                .box1{
                    width: 346px;
                    height: 39px;
                    background-color: #FFF8F0;
                    p{
                        font-size: 12px;
                        text-align: center;
                        line-height: 39px;
                        color: #9D9D9D;
                    }
                }
                .box2{
                    width: 346px;
                    height: 54px;
                    background-color: #fc7930;
                    border-bottom: 1px solid #F4F4F4;

                    span:nth-child(1){
                        width: 172px;
                        height: 54px;
                        background-color: #FFFFFF;
                        display: block;
                        float: left;
                        // border-right: 1px solid black;
                        // text-align: center;
                        // line-height: 54px;
                        position: relative;
                        a{
                            text-align: center;
                            width: 99%;
                            height: 18px;
                            position: absolute;
                            top: 18px;
                            display: block;
                            font-size: 18px;
                            color: #666666;
                            line-height: 18px;
                            border-right: 1px solid #F4F4F4;
                        }
                        a:hover{
                            color: #E4393C;
                            font-weight: bold;
                        }
                    }
                    span:nth-child(2){
                        width: 173px;
                        height: 54px;
                        background-color: #FFFFFF;
                        display: block;
                        float: left;
                        text-align: center;
                        a{
                            font-size: 18px;
                            color: #666666;
                            line-height: 54px;
                        }
                        a:hover{
                            color: #E4393C;
                        }
                    }
                }
                .box3{
                    width: 306px;
                    height: 235px;
                    // padding-top: 5px;
                    background-color: white;
                    border-bottom: 1px solid #F4F4F4;
                    padding: 0 20px 20px 20px;
                    .message{
                        width: 306px;
                        height: 23px;
                        font-size: 10px;
                        color: #E4393C;
                        margin-top: 5px;
                        margin-bottom: 5px;
                        background-color: #FFEBEB;
                        border: 1px solid #FACCC6;
                        text-align: center;
                        line-height: 23px;
                    }
                    .user{
                        width: 306px;
                        height: 40px;
                        margin-bottom: 20px;
                        border: 1px solid #BDBDBE;
                        background-color: #c6dfc8;
                        input{
                            width: 304px;
                            height: 18px;
                            padding: 10px 0 10px 0px;
                        }
                    }
                    .pwd{
                        width: 306px;
                        height: 40px;
                        margin-bottom: 20px;
                        border: 1px solid #BDBDBE;
                        background-color: #ad9e5f;
                        input{
                            width: 304px;
                            height: 38px;
                        }
                    }
                    .forgetPwd{
                        width: 306px;
                        height: 18px;
                        margin-bottom: 20px;
                        // background-color: #f8d86a;

                        position: relative;
                            a{
                                
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                font-size: 12px;
                                color: #696868;
                            }
                        
                        
                    }
                    .login{
                        width: 306px;
                        height: 34px;
                        border: 1px solid #E4393C;
                        background-color: #E4393C;
                        a{
                            color: #FFFEFF;
                            font-size: 18px;
                            width: 306px;
                            height: 33px;
                            text-align: center;
                            line-height: 33px;
                            display: block;
                            
                        }
                    }
                }
                .box4{
                    width: 306px;
                    height: 18px;
                    padding: 16px 20px;
                    background-color: #FCFCFC;
                    ul{
                        li:nth-child(1){
                            float: left;
                            a{
                                display: inline-block;

                                font-size: 10px;
                                color: #707070;
                                b{
                                    line-height: 18px;
                                    margin-right: 4px;
                                    width: 19px;
                                    height: 18px;
                                    display: block;
                                    float: left;
                                    background: url(	https://misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2018-0827/i/QQ-weixin.png);
                                }
                            }
                            span{
                                margin: 0 11px;
                                font-size: 12px;
                                color:#707070;
                            }
                        }
                        li:nth-child(2){
                            float: left;
                            a{
                                display: inline-block;
                                height: 22px;
                                font-size: 10px;
                                color: #707070;
                                b{
                                    width: 19px;
                                    height: 18px;
                                    display: block;
                                    float: left;
                                    margin-right: 4px;
                                    
                                    // border: 1px solid red;
                                    
                                    background: url(https://misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2018-0827/i/QQ-weixin.png) no-repeat;
                                    background-position: -19px 0;

                                    
                                }
                            }
                        }
                        li:nth-child(3){
                            float: right;
                            a{
                                display: inline-block;
                                font-size: 14px;
                                color: #B61D1D;
                                
                                b{
                                    margin-right: 4px;
                                    // line-height: 21px;
                                    display: inline-block;
                                    vertical-align: middle;
                                    width: 16px;
                                    height: 16px;
                                    background: url(https://misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2018-0827/i/pwd-icons-new.png) -104px -75px no-repeat;
                                }
                            }
                            a:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        width: 100%;
        height: 70px;
        // background: #fbeee2;
        
        .footer-con{
            width: 990px;
            height: 47px;
            padding-top: 23px;
            margin: 0 auto;
            color: #666;
            text-align: center;
            // background: #f97d1c;

            .nav{
                margin-bottom: 10px;
                a{
                    margin: 0 10px;
                    font-size: 12px;
                    color: #666;
                }
            }

            
            .copyright{
                font-size: 12px;
                // margin-top: 16px;
                line-height: 12px;
            }
            
        }
    }
}